h1 {
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    font-size: 50px;
    
   
}
ul {
  width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  font-size: 20px;
 
    
    }

img {
    display: block;
    margin:auto;
    
    
}

html {
    background-color: rgba(138, 133, 133, 0.9);
}

#border1{
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    border-color: black;
    border-width: 3px;
    
}

li {
    margin: 32px;
    padding: 6px;
    
    
}

#pjam1{ text-align: center;
    font-size: 30px;
    
}

#img-caption {
    text-align: center;
}

body {
    margin: 0 auto;
    
    
}
  
#tribute-info {
    font-size: 30px;
    text-align: center;
}

