h1 {
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    font-size: 50px;
   
    
}
ul { text-align: center;
    list-style-position: inside;
    font-size: 20px;
    
    }

img {
    display: block;
    margin:auto;
}

html {
    background-color: rgba(138, 133, 133, 0.9);
}

#border1{
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    border-color: black;
    border-width: 3px;
    
}